.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
    font-size: 32px;
    font-family: "Georgia", serif;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.form__group-title {
    text-align: left;
    width: 25%;
}

.form__group-content {
    text-align: left;
    width: 75%;
}

.form__label--required {
    color: rgb(254, 85, 85);
}

.form__input--text input::placeholder,
.form__input--number input::placeholder,
.form__input--textarea textarea::placeholder {
    color: #aba197;
    font-weight: normal;
}

.form__input--text input,
.form__input--number input,
.form__input--textarea textarea {
    width: 100%;
    padding: 10px 10px 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #f4f4f4;
    color: black;
    height: 40px;
    appearance: none;
}

.form__input--select {
    width: 50%;
    padding: 10px 40px 10px 20px; /* ▼マークのために右側あける */
    border: none;
    border-radius: 3px;
    background-color: #f4f4f4;
    cursor: pointer;

    /* ▼マークのための設定 */
    line-height: 1.5;
    height: 40px; /* 縦中央揃えにするために高さを定める */
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='%23aba197' height='16' width='16' xmlns='http://www.w3.org/2000/svg'><polygon points='0,0 16,0 8,8'/></svg>");
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) calc(50% + 2px);
    background-size: 12px;
}

.form__input--textarea textarea {
    height: 120px; /* textareaだけ高さ変える */
}

.form__inputs {
    display: flex;
    gap: 30px;
}

.form__inputs .form__input-item {
    flex: 1; /* 均等幅 */
}

.form__input--number input {
    padding: 10px;
    text-align: center;
}

.form__input--radio {
    margin-right: 60px;
}

input[type="radio"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #aba197;
    background-color: #fff;
    margin-right: 10px;
    cursor: pointer;
}

input[type="radio"]:checked {
    background-color: #aba197;
    border-color: #aba197;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 15%;
    height: 40px;
    border: none;
    background: #80756c;
    color: #fff;
    cursor: pointer;
}

.form__error {
    font-size: 12px;
    height: 15px;
    color: #ff0000;
    text-align: left;
}
