.content {
    margin: 0 auto;
    max-width: 1230px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.background p {
    font-size: 10vw;
    color: #aba1971a;
    margin: 0;
}

.foreground {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -15%;
}

.foreground h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #aba197;
}

.button {
    display: inline-block;
    padding: 10px;
    width: 20%;
    height: 40px;
    text-decoration: none;
    border: none;
    background: #80756c;
    color: #fff;
    cursor: pointer;
}
